{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Group</div>

                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-responsive table-hover">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ userGroup.id }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ userGroup.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{ form_start(delete_form) }}
                    <div class="panel-footer">
                        <a href="{{ path('group_index') }}"><button class="btn btn-default" type="button">Go to list</button></a>
                        <a href="{{ path('group_edit', { 'id': userGroup.id }) }}"><button class="btn btn-primary" type="button">Edit</button></a>

                        <input type="submit" class="btn btn-danger" value="Delete">

                    </div>
                    {{ form_end(delete_form) }}                                     
                </div>
            </div>
        </div>

    {% endblock %}
